/* COMMONS */
body{
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

/* BUTTONS */
.btn_dark{
    border-radius: 25px;
    border: 1px solid transparent;
    padding: 8px 13px;
    background-color: #363636;
    color: #f0f8ff;
}

.btn_dark:hover{
   outline: inset;
   outline-color: #363636;
   outline-offset: 2px;
}

.btn_orange{
    border-radius: 25px;
    border: 1px solid transparent;
    padding: 8px 13px;
    background-color: #cd3d0f;
    color: #f0f8ff; 
}

.btn_orange:hover{
    outline: inset;
    outline-color: #cd3d0f;
    outline-offset: 2px;
 }
 

.btn_blu{
    border-radius: 25px;
    border: 1px solid transparent;
    padding: 8px 13px;
    background-color: #2d64e6;
    color: #f0f8ff;  
}

.btn_blu:hover{
    outline: inset;
    outline-color: #2d64e6;
    outline-offset: 2px;
 }
 

.btn_gray{
    border-radius: 25px;
    border: 1px solid transparent;
    padding: 8px 13px;
    background-color: #d9dadc;
    color: #2d64e6;  
}

.btn_gray:hover{
    outline: inset;
    outline-color: #d9dadc;
    outline-offset: 2px;
 }
 

.btn_white{
    border-radius: 25px;
    border: 1px solid transparent;
    padding: 8px 13px;
    background-color: #f0f8ff;
    color: #2d64e6;  
}

.btn_white:hover{
    outline: inset;
    outline-color: #f0f8ff;
    outline-offset: 2px;
 }
 

/* TYPO */
h6{
    color: #2d64e6;
}

/* HEADER */
header{
    position: fixed;
    width: 100%;
    z-index: 10;
}
/* header top */
.header_top{
    background-color: #000000;
    height: 40px;
}

.sony_logo{
    display: flex;
    justify-content: flex-end;
}

.logo{
    height: 20px;
    margin: 8px 0px;
}

/* header bottom */
.lens{
    height: 30px;
    cursor: pointer;
}

.fa-angle-down{
    padding-left: 10px;
}

.nav-link:hover > .fa-angle-down{
    color: #2d64e6;
}

/* MAIN */
main{
    padding-top: 106px;
}
/* hero top */
.hero_section_top{
    position: relative;
    color: #f0f8ff;
}

.hero_section_top::after{
    content: "";
    display: block;
}

.hero_content{
    position: absolute;
    z-index: 1;
    top: 200px;
}

.hero_content h1{
    margin-bottom: 15px;
}

.hero_content button{
    margin-top: 10px;
}

.jumbo{
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 520px;
}

.returnal{
    width: 250px;
}

.returnal img{
    width: 100%;
    margin-bottom: 30px;
}

/* hero bottom */
.img_border{
    padding: 2px;
    border: 5px solid transparent;
}

.img_border_1{
    padding: 2px;
    border: 5px solid #4095da;
}

.img_border:hover{
    border: 5px solid #4095da;
}

.hero_section_bottom{
    margin-top: 550px;
}
.hero_section_bottom img{
    object-fit: cover;
    border-radius: 15px;
    width: 100%;
}

.hero_section_bottom .col-6:hover{
    transform: translateY(-20px);
    transition: 1s;
}
/* ecco la ps5 */
.title_section{
    text-align: center;
}

.ecco_la_ps5 img{
    object-fit: cover;
    width: 100%;
}

.ecco_la_ps5 .container .border_bottom{
    border: 3px solid transparent;
}

.border_bottom_1{
    border-bottom: 3px solid #4095da;
}

.ecco_la_ps5 .container .border_bottom:hover{
   border-bottom: 3px solid #4095da;
   border-radius: 4px;
   cursor: pointer;
}

.ecco_la_ps5 .border_bottom > img:hover{
    opacity: 0.7;
}

.text{
    text-align: center;
}

/* it takes 2 */
.section_it_takes_2{
    position: relative;
    color: #f0f8ff;
}
.section_it_takes_2::after{
    content: "";
    display: block;
}

.background_img{
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 600px;
}

.section_content{
    position: absolute;
    z-index: 1;
    top: 50px;
}

.it_takes_2{
    width: 250px;
}

.it_takes_2 img{
    width: 100%;
    margin-bottom: 30px;
}

.section_content h1{
    margin-bottom: 15px;
}

.section_content button{
    margin-top: 10px;
}

/*  nuove uscite */
.nuove_uscite{
    margin-top: 645px;
    background-color: #1f1f1f;
    color: #f0f8ff;
}

.nuove_uscite img{
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
}

/* ps4 */
.ps4 .row{
    display: flex;
    justify-content: center;
}

.ps4 h2{
    text-align: center;
}
.ps4 img{
    object-fit: cover;
    width: 100%;
}

/* ps plus */
.ps_plus .row{
    display: flex;
    align-items: center;
}

.logo_plus{
    width:300px;
}

.logo_plus img{
    object-fit: cover;
    width: 100%;
}

.ps_plus{
    background-color: #bebcbb;
}

.ps_plus img{
    object-fit: cover;
    width: 100%;
}

/* sconti */
.sconti h2, .sconti p{
    text-align: center;
}

.sconti img{
    object-fit: contain;
    width: 100%;
}

/* ps now */
.ps_now .row{
    display: flex;
    align-items: center;
    color: #f0f8ff;
}

.logo_ps_now{
    width:300px;
}

.logo_ps_now img{
    object-fit: cover;
    width: 100%;
}

.ps_now{
    background-color: #161c3b;
}

.ps_now img{
    object-fit: cover;
    width: 100%;
}

/* social */
.social h3{
    text-align: center;
}

.social .row{
    display: flex;
    justify-content: center;
}

.social img{
    object-fit: cover;
    width: 100%;
}

/* FOOTER */
footer{ 
    background-color: #00439c;
    color: #f0f8ff;
}
/* footer top */
.footer_top ul li{
    display: block;
    padding: 7px;
}

.footer_top ul li a{
    text-decoration: none;
    color: #f0f8ff;
}

/* footer bottom */
.logo_sie{
    width: 200px;
}